body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

#main-heading{
    border-radius: 20px;
}

#submit-button{
    font-weight: bold;
    color: white;
    background-color: #dc3545;
}

#submit-button:hover{
    color: #dc3545;
    background-color: white;
}
#memory-form{
    margin-top : 7.5vh;
    margin-bottom: 7.5vh;
}

#memory-form .btn{
    font-weight: bold;
    color: white;
    background-color: #dc3545;

}

#memory-form .btn:hover{
    color: #dc3545;
    background-color: white;
}

#game-board{
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.game-card{
    width: 18vw;
    height: 15vh;
    border: 2px solid black;
    border-radius: 4px;
    background-size: 100%;
}

.game-card:hover{
    cursor: pointer;
    border: 3px dashed #dc3545;
}

#win-banner{
    border-radius: 20px;
}

#win-banner .btn{
    font-weight: bold;
    color: white;
    background-color: #dc3545;
}

#win-banner .btn:hover{
    color: #dc3545;
    background-color: white;
}

#thanks{
    border-radius: 20px;
}
#footer span{
    font-size: 1.5vw;
}


@media (max-width: 767px) {
    #copy, #social{
        text-align: center;
        align-content: center;
        align-items: center;
    }
    #copy{
        margin-bottom: 8px;
    }

 }
