body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-heading{
    border-radius: 20px;
}

#submit-button{
    font-weight: bold;
    color: white;
    background-color: #dc3545;
}

#submit-button:hover{
    color: #dc3545;
    background-color: white;
}

#memory-form .btn{
    font-weight: bold;
    color: white;
    background-color: #dc3545;
}

#memory-form .btn:hover{
    color: #dc3545;
    background-color: white;

}
.game-card{
    width: 10vw;
    height: 15vh;
    border: 4px solid black;
    border-radius: 8px;
    background-size: 100%;
    box-shadow: black 2px, 2px;
}

.game-card:hover{
    opacity: 35%;
    cursor: pointer;
}

#win-banner{
    border-radius: 20px;
}